/* start toppanel */
body.devMobile #toppanel { display:block; position: absolute; top: 0px; background-color: #efefef; height: 56px; font-size: 12px; font-family: 'OpenSans-SemiBold'; color: white; width:100%;}
body.devMobile #toppanel #control-bar { height: 56px; position:relative; display:inline-block; text-align:left; top: 10px;}
body.devMobile #toppanel .button { margin-top: 15px; margin-right:20px; float:left; position:relative; padding: 6px 17px 4px 17px; }
body.devMobile #toppanel #rotateDevice { height:20px; font-family: 'OpenSans-SemiBold'; font-size: 11px; margin-left: 10px; margin-right: 30px; padding: 6px 0px 4px;}
body.devMobile #toppanel .gesturecontrol { margin-right: 30px; margin-left:30px; margin-top: 15px; float:left; position:relative; padding-top:6px;}
body.devMobile #toppanel .zoomcontrol { margin-top: 15px; float:left; position:relative; margin-left:30px; margin-right:10px; width: 250px;}
body.devMobile #toppanel .titlecontrol { font-size:12px; float:left; margin-right:5px; color:#707070; font-family:'OpenSans-Regular'; }
body.devMobile #toppanel #gestureTool { font-family:OpenSans-SemiBold; color:#707070; font-size:11px; position:relative; width: 100px; background-color:transparent; border: 0 none; padding-left:5px; -webkit-appearance:none; -moz-appearance:none; z-index:2; cursor:pointer;}
body.devMobile #toppanel .styled-select {border:0 none; float:left; overflow:hidden; background-color:#EFEFEF; }
body.devMobile #toppanel .zoomcontrol span {margin-top: 9px; width: 12px; height: 13px;}
body.devMobile #toppanel #zoomValue[disabled] { border: none; top:6px; }
body.devMobile #toppanel .controls { display:inline; }
body.devMobile #toppanel { -moz-user-select: -moz-none; -webkit-user-select: none; -ms-user-select: none; user-select: none; text-align:center; }
body.devMobile #toppanel .styled-select { width:150px; height:30px; position:relative; }
body.devMobile #toppanel .zoomcontrol .styled-select { width:55px; height:27px; position:relative; }
body.devMobile #toppanel .panel-separator {background-color: #AAAAAA; display: inline-block;  height: 22px; float: left; margin-top: 19px; vertical-align: top; width: 1px;}

body.devMobile.showComments #toppanel { top: 45px; }
body.devMobile.commentsMode.showComments #toppanel { top: 53px; }


/* mainpanel */
body.devMobile #jim-container{background-color: #ffffff;}
body.devMobile #jim-body.controlled { top:56px; }
body.devMobile #jim-body.controlled-nocom {top:62px;}
body.devMobile .cursor { position: absolute; z-index:999; background-image: url("../../css/images/cursor2.png"); width:32px; height:32px; }

body.devMobile.showComments #jim-body.controlled { top: 101px; }
body.devMobile.commentsMode.showComments #jim-body.controlled { top: 109px; }

/* case */
body.devMobile #jim-mobile{display:block;}
#jim-case #cc-pieces: {display:none;}

body.devMobile { display:none; overflow: hidden; }

/* cursors */

body.devMobile #jim-container.touch { cursor: url('./resources/_jim/css/images/touch.cur'), auto; }
body.devMobile #jim-container.touch { cursor: url('../images/touch.cur') 16 16, auto; }
body.devMobile #jim-container.touch * { cursor: url('./resources/_jim/css/images/touch.cur'), auto;  }
body.devMobile #jim-container.touch * { cursor: url('../images/touch.cur') 16 16, auto; }
body.devMobile #jim-container { cursor: none; }
body.devMobile .menu { cursor: inherit; }
body.devMobile .menunode { cursor: inherit; }
body.devMobile .menunode span { cursor: inherit; }
body.devMobile .text input, body.devMobile .password input, body.devMobile .number input, body.devMobile .inputurl input, body.devMobile .email input, body.devMobile .date input, body.devMobile .time input, body.devMobile .datetime input, body.devMobile .file input, body.devMobile textarea, body.devMobile input.checkbox, body.devMobile input.radiobutton { cursor: inherit; }
body.devMobile .date .icon, body.devMobile .time .icon, body.devMobile .datetime .icon { cursor: inherit; }
body.devMobile .file .file-input { cursor: inherit; }
body.devMobile .nativedropdown .dropdown-options, body.devMobile .dropdown .dropdown-options { cursor: inherit; }
body.devMobile .index span { cursor: inherit; }
body.devMobile .selected { cursor: inherit; }

/* components */
.selectionlist, .multiselectionlist, .radiobuttonlist, .checkboxlist, .cellcontainer, .datarow, .headerrow, .datacell, .gridcell { -webkit-overflow-scrolling: touch;}
.panel > .layoutWrapper {-webkit-overflow-scrolling: touch;}
#jim-container .ui-page {-webkit-overflow-scrolling: touch;}
/*** other ***/
body.devMobile * { -moz-user-select: none; -webkit-user-select: none; -ms-user-select: none; user-select: none; }
body.devMobile input[readonly], textarea[readonly] { -moz-user-select: none; -webkit-user-select: none; -ms-user-select: none; user-select: none; }
body.devMobile input, textarea { -moz-user-select: text; -webkit-user-select: text; -ms-user-select: text; user-select: text; }
body.devMobile input::-ms-clear, input::-ms-reveal { display: none; }

.gesturecontrol span.customSelect {
	position: absolute;
	top:6px;
	left:0px;
	width: 80px; 
	font-size: 11px; 
	color: #707070; 
	font-family:OpenSans-SemiBold;
	height:15px;
	white-space:nowrap;
}

.gesturecontrol span.customSelectImage {
    background-position: -98px -90px;
    position: absolute;
    top: 6px;
    left: 64px;
    width: 10px;
    height: 15px;
}

/*Zoom slider styles*/
#zoom-slider-cursor {
    border-radius: 50%;
    position: absolute;
    width: 13px;
    height: 13px;
    background-color: #21C0C0;
    top: 8px;
    left: 116.5px;
    cursor: pointer;
}

#zoom-bar-hotspot {
    position: absolute;
    top: 10px;
    left: 24px;
    width: 200px;
    height: 8px;
    cursor: pointer;
}

#zoom-slider-empty {
    margin-top: 4px;
    width: 200px;
    height: 2px;
    background-color: #CCCCCC;
}

#zoom-slider-full {
    position: absolute;
    top: 4px;
    width: 100px;
    height: 2px;
    background-color: #21C0C0;
}

#zoom-slider-minus {background-position: -110px -92px; float:left; cursor: pointer;}
#zoom-slider-plus {background-position: -125px -92px; float:right; cursor: pointer; }
.zoomcontrol span:hover {opacity: 0.75;}
#zoom-slider-cursor:hover {background-color: #31D0D0;}
