#m-37a752b5-d8ec-4637-b4a5-bdb06e116f4f #m-37a752b5-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#m-37a752b5-d8ec-4637-b4a5-bdb06e116f4f.master > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}