#m-37a752b5-d8ec-4637-b4a5-bdb06e116f4f #m-37a752b5-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-37a752b5-d8ec-4637-b4a5-bdb06e116f4f.master > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}